img{
  float: left;
  width: 200px;
}

body{
  background-color: antiquewhite;
}
nav{
  display:inline;
}
#lines{

}
li{
  list-style-type: none;
}

#header{
  margin-left: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  padding-top: 20px;
  color: blue;
}

#header2{
  color: blue;
  padding-top:20px;
  margin-left: 20px;
}